{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment Information" %} | {{ block.super }}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}

{% block payment_method %}
    <div class="payment_methods">
        <div class="sub-header">
            <h3>{% trans "Payment method" %}</h3>
        </div>
        <form action="{% url 'checkout:payment-method' %}" method="post" id="class="form-stacked">
            <div class="well">
                {% csrf_token %}
                <input type="hidden" name="action" value="pay_with" class="form-control">
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-large btn-primary">{% trans "Next" %}</button>
                <br><br>
                <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block payment_details %}
{% endblock payment_details %}
